@import url(https://fonts.googleapis.com/css2?family=Varela&display=swap);

body {   height: 100vh;
   font-family: 'Varela', sans-serif;
  background: url('./bmw.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reg-btn {
  margin: auto;
  padding: 20px 30px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color:rgba(0, 0,0, 0.5);
  border-radius: 20px;
  border: none;
  color: white;
  font-family: inherit;
  margin-top: 300px;
}

.form {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(0, 0,0, 0.5);
  padding: 50px;
  border-radius: 20px;
  color: white;
}

.form input {
  width: 100%;
  height: 45px;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-size: 20px;

}

.gender-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.gender-wrapper label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: inherit;
  font-size: 20px;
}

.gender-title {
  text-align: center;
  font-weight: 600;
}

.btn {
  background: transparent;
  color: white;
  border: none;
  height: 50px;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
}

.btn:active{
    transform: translateY(1px);
}

.hidden{
    display: none;
}

.site-list{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.site-item{
    width: 100%;
    max-width: 300px;
    border: 1px solid white;
    text-align: center;
    list-style: none;
    border-radius: 20px;
    margin: 10px;
}

.item-img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

